<!--The content below is only a placeholder and can be replaced.-->
<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="produit/2">Produit 2</a></li>
  <li><a routerLink="produit/3">Produit 3</a></li>
  <li><a routerLink="produit/350">Produit 350</a></li>
  <li><a routerLink="produit/babar">Produit babar</a></li>
  <li><a routerLink="produit/">Produit null</a></li>
  
</ul>
<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Accueil</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/produit">Produits</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Détail des produit
        <i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

 

<router-outlet></router-outlet>